<h1>New Entry</h1>

<ul>
  <% for entry in @entries %>
    <li>
    <a href = "/entries/new/<%= entry["id"] %>"><%= entry["name"]%></a>
    </li>
    <% end %>

</ul>

<a href="/places/new/" class="btn btn-success">New Place</a>